PORT=3000
NODE_ENV=development

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=Cortex

NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_PORT=

JWT_SECRET=Arjun
SERVER_SECRET=UKEM

GROQ_API_KEY=
GEMINI_API_KEY=

KAFKA_HOST=
KAFKA_PORT=12578
KAFKA_PASSWORD=
KAFKA_USER=

PINECONE_API_KEY=
RATE_LIMIT=150